.example-card {
    margin-top: 20px;
    max-width: 250px;
    margin-bottom: 20px;
}

.charts-container{
    max-width: 400px;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 2px;
}
