.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 16px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-elevation-z8 {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mat-table {
    border: 5px solid #ccc;
  }
  
  table {
    margin-top: 20px;
    margin-left: 20px;
    width: 95%;
  }

  .charts-container{
    max-width: 400px;
    height: 250px;
    margin-bottom: 20px;
    margin-left: 10px;
}
  
  

